<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Awg Hardware</key>
	<dict>
		<key>Blank Off Delay Res uS</key>
		<string>1.90</string>
		<key>Blanking Resolution uS</key>
		<string>15.200</string>
		<key>Channels Per Sample</key>
		<string>3</string>
		<key>DDS Clock MHz</key>
		<string>120.000000</string>
		<key>DDS Freq Mulitiplier</key>
		<string> 1.0</string>
		<key>Freq Bandwidths Hz</key>
		<string>200e3 150e3 100e3 50e3 30e3 10e3 5e3</string>
		<key>Freq Bandwidths Labels</key>
		<string>200KHz 150KHz 100KHz 50KHz 30KHz 10KHz 5KHz</string>
		<key>Freq Ext Mixer MHz</key>
		<string> 0.0</string>
		<key>Freq Ext Mixer Sideband</key>
		<string>Upper ;; Upper Lower</string>
		<key>Freq Ext Postmultiplier</key>
		<string>1.0</string>
		<key>Freq Ext Premultiplier</key>
		<string>1.0</string>
		<key>Freq Mulitiplier</key>
		<string>1.000000</string>
		<key>Freq Step Periods Labels</key>
		<string>950nS 1900nS 3800nS 7600nS</string>
		<key>Freq Step Periods nS</key>
		<string>950. 1900. 3800. 7600.</string>
		<key>Freq Sweep Rates Hz</key>
		<string>1.003868 2.0077354 4.015471 8.030941 16.06188 32.12377 64.24753 128.4951 1.003868 .5019339 .2509669 .1254835</string>
		<key>Freq Sweep Rates Labels</key>
		<string>1Hz 2Hz 4Hz 8Hz 16Hz 32Hz 64Hz 128Hz 1sec 2sec 4sec 8sec</string>
		<key>GPS Sweep Rates Hz</key>
		<string>1. 2. 4. 8. 16. 32. 64. 128. 1. .5 .25 .125</string>
		<key>High Band Freq Range MHz</key>
		<string>11.9000 13.7000</string>
		<key>Low Band Freq Range MHz</key>
		<string>4.4000 5.2000</string>
		<key>Maximum Bandwidth kHz</key>
		<string>150.</string>
		<key>RF Atten Minimum dB</key>
		<string>0.</string>
		<key>RF Atten Resolution dB</key>
		<string>2.</string>
		<key>Rf Atten Maximum dB</key>
		<string>30.</string>
		<key>Sample Periods Labels</key>
		<string>243.2µS 121.6µS 60.8µS 30.4µS</string>
		<key>Sample Periods nS</key>
		<string>243200 121600 60800 30400</string>
		<key>Samples Per Sweep</key>
		<string>4096</string>
		<key>Sweep Delay Base nS</key>
		<string>25.</string>
		<key>Timing Clock nS</key>
		<string>475.</string>
		<key>Transponder IF MHz</key>
		<string>10.7</string>
		<key>Use Extended BW Control</key>
		<string>No  	;; No,Yes</string>
		<key>Xmit On Delay Res uS</key>
		<string>3.80</string>
	</dict>
	<key>Bisar Lockup</key>
	<dict>
		<key>Enabled</key>
		<string>No</string>
	</dict>
	<key>RC DEFAULT</key>
	<dict>
		<key>Bandwidth KHz</key>
		<string>49.4</string>
		<key>Blank Off Delay uS</key>
		<string>8.55</string>
		<key>Blank Period uS</key>
		<string>486.4</string>
		<key>Blank State</key>
		<string>Pulse  	;; Off,On,Pulse</string>
		<key>Blanking Rate Select</key>
		<integer>0</integer>
		<key>CallSign Enable</key>
		<false/>
		<key>CallSign Interval</key>
		<string>20.0 min.</string>
		<key>CallSign Offset</key>
		<string>0.0 min.</string>
		<key>CallSign Repeat</key>
		<integer>1</integer>
		<key>Chirp State</key>
		<string>Run  	;; Run,Halt</string>
		<key>Create Reports</key>
		<string>Yes  	;; No,Yes</string>
		<key>Do Gps Report Interval</key>
		<string>0.5 min.</string>
		<key>Do Gps Sync Interval</key>
		<string>0.0 min.</string>
		<key>Do Xmit Report Interval</key>
		<string>0.0 min.</string>
		<key>Enable Power Schedule</key>
		<string>No  	;; No,Yes</string>
		<key>External Sweep Rate Hz</key>
		<real>4</real>
		<key>Freq B Offset Hz</key>
		<string>0.0</string>
		<key>Freq Band</key>
		<string>Low  	;; Low,High</string>
		<key>Freq Step Rate</key>
		<string>7600nS  	;; 950nS 1900nS 3800nS 7600nS</string>
		<key>Freq Sweep Direction</key>
		<string>Down  	;; Up,Down</string>
		<key>Freq Sweep State</key>
		<string>Sweep  	;; CW,Sweep</string>
		<key>Hardware Type</key>
		<string>Awg Hardware</string>
		<key>Is PulseShaping</key>
		<string>Yes  	;; No,Yes</string>
		<key>Is Transponder</key>
		<string>No  	;; No,Yes</string>
		<key>Name</key>
		<string>Awg Controller</string>
		<key>Power Schedule 1</key>
		<string>2.0  01:00 18:00		; atten dB, from hh:mm to hh:mm</string>
		<key>Power Schedule 2</key>
		<string>100.0  18:00 01:00		; atten dB, from hh:mm to hh:mm</string>
		<key>RF Atten dB</key>
		<string>4.0</string>
		<key>Receiver Watchdog</key>
		<string>15.0 min.</string>
		<key>Report Folder Path</key>
		<string>/Codar/SeaSonde/Data/Diagnostics/</string>
		<key>Report Interval</key>
		<string>5.0 minutes</string>
		<key>Report Offset Time</key>
		<string>0.0 minutes</string>
		<key>Report Site Code</key>
		<string></string>
		<key>Report Site File Path</key>
		<string>/Codar/SeaSonde/Configs/RadialConfigs/Header.txt</string>
		<key>Sample Rate</key>
		<string>243.2µS  	;; 243.2µS 121.6µS 60.8µS 30.4µS</string>
		<key>Start Freq MHz</key>
		<string>0.0000</string>
		<key>Status Check Interval</key>
		<string>3.000 min.</string>
		<key>Step Freq Hz</key>
		<string>0.754</string>
		<key>Sweep Delay nS</key>
		<string>1635200.</string>
		<key>Sweep Rate Hz</key>
		<string>2Hz  	;; 1Hz 2Hz 4Hz 8Hz 16Hz 32Hz 64Hz 128Hz</string>
		<key>Transmit State</key>
		<string>Pulse  	;; Off,On,Pulse</string>
		<key>Transmit Watch</key>
		<string>0x00</string>
	</dict>
	<key>RC1</key>
	<dict>
		<key>Bandwidth kHz</key>
		<string>25.734</string>
		<key>Blank Off Delay uS</key>
		<string>8.550</string>
		<key>Blank Period uS</key>
		<string>1945.600</string>
		<key>Blank State</key>
		<string>Pulse ;; Off,On,Pulse</string>
		<key>Blanking Rate Select</key>
		<integer>0</integer>
		<key>CallSign Enable</key>
		<false/>
		<key>CallSign Interval</key>
		<real>20</real>
		<key>CallSign Offset</key>
		<real>0.0</real>
		<key>CallSign Repeat</key>
		<integer>1</integer>
		<key>Callsign Name</key>
		<string></string>
		<key>Chirp State</key>
		<string>Run ;; Run,Halt</string>
		<key>Create Reports</key>
		<string>Yes ;; No,Yes</string>
		<key>Do Gps Report Interval</key>
		<string>0.50 min.</string>
		<key>Do Gps Sync Interval</key>
		<string>0.000 min.</string>
		<key>Do Xmit Report Interval</key>
		<string>0.0 min.</string>
		<key>Enable Power Schedule</key>
		<string>No     ;; No,Yes</string>
		<key>External Sweep Rate Hz</key>
		<real>4</real>
		<key>Freq B Offset Hz</key>
		<string>0.0000000</string>
		<key>Freq Band</key>
		<string>Low ;; Low,High</string>
		<key>Freq Step Rate</key>
		<string>7600nS ;; 950nS 1900nS 3800nS 7600nS</string>
		<key>Freq Sweep Direction</key>
		<string>Down ;; Up,Down</string>
		<key>Freq Sweep State</key>
		<string>Sweep ;; CW,Sweep</string>
		<key>Hardware Type</key>
		<string>Awg Hardware</string>
		<key>Is PulseShaping</key>
		<string>Yes ;; No,Yes</string>
		<key>Is Transponder</key>
		<string>No  	;; No,Yes</string>
		<key>Name</key>
		<string>Receiver Controller</string>
		<key>Power Schedule 1</key>
		<string>2.0  16:30 16:31		; atten dB, from hh:mm to hh:mm</string>
		<key>Power Schedule 2</key>
		<string>40.0 16:29 16:30</string>
		<key>RF Atten dB</key>
		<string>1.000</string>
		<key>Receiver Watchdog</key>
		<string>15.0 min.</string>
		<key>Report Folder Path</key>
		<string>/Codar/SeaSonde/Data/Diagnostics/</string>
		<key>Report Interval</key>
		<string>5.0 minutes</string>
		<key>Report Offset Time</key>
		<string>0.0 minutes</string>
		<key>Report Site Code</key>
		<string></string>
		<key>Report Site File Path</key>
		<string>/Codar/SeaSonde/Configs/RadialConfigs/Header.txt</string>
		<key>Sample Rate</key>
		<string>243.2µS ;; 243.2µS 121.6µS 60.8µS 30.4µS</string>
		<key>Start Freq MHz</key>
		<string>4.5878669</string>
		<key>Status Check</key>
		<string>Good  	;; Good,Bad</string>
		<key>Status Check Interval</key>
		<string>0.500 min.</string>
		<key>Step Freq Hz</key>
		<string>0.195578</string>
		<key>Sweep Delay nS</key>
		<string>200000</string>
		<key>Sweep Rate Hz</key>
		<string>1Hz ;; 1Hz 2Hz 4Hz 8Hz 16Hz 32Hz 64Hz 128Hz 1sec 2sec 4sec 8sec</string>
		<key>Transmit State</key>
		<string>Pulse ;; Off,On,Pulse</string>
		<key>Transmit Watch</key>
		<string>0x07</string>
	</dict>
	<key>RC2</key>
	<dict>
		<key>Bandwidth kHz</key>
		<string>0.0</string>
		<key>Blank Off Delay uS</key>
		<string>8.6</string>
		<key>Blank Period uS</key>
		<string>486.4</string>
		<key>Blank State</key>
		<string>Pulse  	;; Off,On,Pulse</string>
		<key>Chirp State</key>
		<string>Run  	;; Run,Halt</string>
		<key>Create Reports</key>
		<string>Yes  	;; No,Yes</string>
		<key>Do Gps Report Interval</key>
		<string>0.5 min.</string>
		<key>Do Gps Sync Interval</key>
		<string>0.0 min.</string>
		<key>Do Xmit Report Interval</key>
		<string>0.0 min.</string>
		<key>Enable Power Schedule</key>
		<string>No  	;; No,Yes</string>
		<key>Freq B Offset Hz</key>
		<string>0.0</string>
		<key>Freq Band</key>
		<string>Low  	;; Low,High</string>
		<key>Freq Step Rate</key>
		<string>7600nS  	;; 950nS 1900nS 3800nS 7600nS</string>
		<key>Freq Sweep Direction</key>
		<string>Down  	;; Up,Down</string>
		<key>Freq Sweep State</key>
		<string>Sweep  	;; CW,Sweep</string>
		<key>Hardware Type</key>
		<string>Awg Hardware</string>
		<key>Is PulseShaping</key>
		<string>Yes  	;; No,Yes</string>
		<key>Is Transponder</key>
		<string>Yes</string>
		<key>Name</key>
		<string>Transponder Controller</string>
		<key>Power Schedule 1</key>
		<string>2.0  01:00 18:00		; atten dB, from hh:mm to hh:mm</string>
		<key>Power Schedule 2</key>
		<string>100.0  18:00 01:00		; atten dB, from hh:mm to hh:mm</string>
		<key>RF Atten dB</key>
		<string>4.0</string>
		<key>Receiver Watchdog</key>
		<string>15.0 min.</string>
		<key>Report Interval</key>
		<string>5.0 minutes</string>
		<key>Report Offset Time</key>
		<string>0.0 minutes</string>
		<key>Sample Rate</key>
		<string>243.2µS  	;; 243.2µS 121.6µS 60.8µS 30.4µS</string>
		<key>Start Freq MHz</key>
		<string>0.0000000</string>
		<key>Status Check</key>
		<string>Good  	;; Good,Bad</string>
		<key>Status Check Interval</key>
		<string>3.000 min.</string>
		<key>Step Freq Hz</key>
		<string>0.000</string>
		<key>Sweep Delay nS</key>
		<string>3250</string>
		<key>Sweep Rate Hz</key>
		<string>1Hz  	;; 1Hz 2Hz 4Hz 8Hz 16Hz 32Hz 64Hz 128Hz 1sec 2sec 4sec 8sec</string>
		<key>Transmit State</key>
		<string>Pulse  	;; Off,On,Pulse</string>
		<key>Transmit Watch</key>
		<string>0x00</string>
	</dict>
	<key>Radar Controller</key>
	<dict>
		<key>CallSign Enable</key>
		<false/>
		<key>CallSign Interval</key>
		<string>20.0 min.</string>
		<key>CallSign Offset</key>
		<string>0.0 min.</string>
		<key>CallSign Repeat</key>
		<integer>1</integer>
		<key>DoQuitAppAfterInit</key>
		<string>No</string>
		<key>RC1 AutoSetHardware</key>
		<string>No ;; No,Yes</string>
		<key>RC1 DeadCharTimeout</key>
		<string>800ms  ;; 0=no timeout</string>
		<key>RC1 DoGetHardware</key>
		<string>Yes</string>
		<key>RC1 DoOpenPort</key>
		<string>Yes</string>
		<key>RC1 DoSetHardware</key>
		<string>No</string>
		<key>RC1 Enabled</key>
		<string>Yes</string>
		<key>RC1 SerialPort</key>
		<string>SeaSonde Receiver•SSRX-USB-AWGIII-02013393</string>
		<key>RC1 SerialPortAlternate</key>
		<string></string>
		<key>RC2 AutoSetHardware</key>
		<string>No ;; No,Yes</string>
		<key>RC2 DeadCharTimeout</key>
		<string>800ms  ;; 0=no timeout</string>
		<key>RC2 DoGetHardware</key>
		<string>Yes</string>
		<key>RC2 DoOpenPort</key>
		<string>No</string>
		<key>RC2 DoSetHardware</key>
		<string>No</string>
		<key>RC2 Enabled</key>
		<string>Yes</string>
		<key>RC2 SerialPort</key>
		<string></string>
		<key>RC2 SerialPortAlternate</key>
		<string></string>
		<key>ShowAwgMessages</key>
		<string>Yes     ;; No,Yes</string>
		<key>ShowAwgMultiLine</key>
		<string>Yes     ;; No,Yes</string>
	</dict>
	<key>Receiver Auto Gain Control</key>
	<dict>
		<key>Enabled</key>
		<string>No</string>
	</dict>
	<key>StatusEvents</key>
	<dict>
		<key>StatusMaxLines</key>
		<string>1500</string>
		<key>StatusWindow</key>
		<string>0    0x,   0y    0w,   0h</string>
	</dict>
	<key>Windows</key>
	<dict/>
</dict>
</plist>
