<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App</key>
	<dict>
		<key>Name</key>
		<string>SpectraCleaner</string>
		<key>Version</key>
		<string>1.3.2</string>
	</dict>
	<key>Averaging</key>
	<dict>
		<key>Time_Coverage_Minutes</key>
		<real>60</real>
		<key>Time_Output_Interval_Minutes</key>
		<real>30</real>
		<key>Time_Quality_Coverage_Minutes</key>
		<integer>60</integer>
		<key>Time_Source_Update_Rate_Factor</key>
		<real>1</real>
	</dict>
	<key>Monitors</key>
	<dict>
		<key>StatusWindow</key>
		<string>On ;; Off,On,False,True,No,Yes</string>
	</dict>
	<key>Paths</key>
	<dict>
		<key>Log_Folder</key>
		<string>/Codar/SeaSonde/Logs/</string>
		<key>Log_Save_It</key>
		<true/>
		<key>Output_Folder</key>
		<string>/Codar/SeaSonde/Data/Spectra/SpectraToProcess/</string>
		<key>Output_Reduce</key>
		<string>Source ;; Source,No,Yes</string>
		<key>Processed_Folder</key>
		<string>/Codar/SeaSonde/Data/Spectra/SpectraSeriesProcessed/</string>
		<key>Processed_Move_It</key>
		<true/>
		<key>Source_Folder</key>
		<string>/Codar/SeaSonde/Data/Spectra/SpectraSeries/</string>
		<key>State_Save_Folder</key>
		<string>/Codar/SeaSonde/Data/Processing/SpectraAveragingState/</string>
		<key>State_Save_It</key>
		<true/>
	</dict>
	<key>Suppression</key>
	<dict>
		<key>Do_Not_Supress_Near_FO_Edge_Bins</key>
		<integer>0</integer>
		<key>Leave_Doppler_DC_Alone_Half_Width</key>
		<integer>0</integer>
		<key>Negative_A3_Mode</key>
		<string>Suppressed ;; None Suppressed PoorQuality</string>
		<key>Remove_Zero_Range_Cell</key>
		<true/>
		<key>Smooth_Doppler_PostThreshold</key>
		<integer>0</integer>
		<key>Smooth_Doppler_PreThreshold</key>
		<integer>5</integer>
		<key>State_Change_Level_dB</key>
		<integer>12</integer>
		<key>Suppress_Neighbors_Mode</key>
		<string>VertHorz ;; None Horz VertHorz All</string>
		<key>Suppression_Level_dB</key>
		<integer>120</integer>
		<key>Suppression_Lite_Level_dB</key>
		<integer>40</integer>
		<key>Suppression_Override_Settings</key>
		<string>custom ;; standard lite heavy custom</string>
		<key>Threshold_Level_dB</key>
		<integer>8</integer>
		<key>Threshold_Wait_Minutes</key>
		<integer>0</integer>
		<key>Update_Source_Neagative_A3</key>
		<true/>
	</dict>
</dict>
</plist>
