<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DiagAxisSettings_12</key>
	<dict>
		<key>Properties</key>
		<dict>
			<key>Font</key>
			<dict>
				<key>Subtitle_Size</key>
				<integer>9</integer>
				<key>Title_Size</key>
				<integer>12</integer>
			</dict>
			<key>HorzAxis</key>
			<dict>
				<key>Time_Gap</key>
				<integer>10800</integer>
				<key>Time_Ref</key>
				<real>3699129600</real>
				<key>Time_Span</key>
				<real>604800</real>
				<key>Time_Step</key>
				<real>86400</real>
				<key>Time_Zone</key>
				<string>UTC</string>
			</dict>
			<key>Selection</key>
			<dict>
				<key>Alpha</key>
				<real>0.84999999999999998</real>
				<key>FixedAxiiColor</key>
				<true/>
				<key>GraphTitle_Type</key>
				<integer>1</integer>
				<key>QuickPlot_Type</key>
				<integer>0</integer>
				<key>VertAxis1_Enable</key>
				<true/>
				<key>VertAxis1_Type</key>
				<integer>33</integer>
				<key>VertAxis2_Enable</key>
				<true/>
				<key>VertAxis2_Type</key>
				<integer>30</integer>
				<key>VertAxis3_Enable</key>
				<true/>
				<key>VertAxis3_Type</key>
				<integer>39</integer>
				<key>VertAxis4_Enable</key>
				<true/>
				<key>VertAxis4_Type</key>
				<integer>21</integer>
			</dict>
			<key>VertAxii</key>
			<dict>
				<key>Amp +28V_Ref</key>
				<string>0</string>
				<key>Amp +28V_Scale</key>
				<string>6</string>
				<key>AmpTemp_Ref</key>
				<string>0</string>
				<key>AmpTemp_Scale</key>
				<string>10</string>
				<key>Ampl. Loop1To2_Ref</key>
				<string>-15</string>
				<key>Ampl. Loop1To2_Scale</key>
				<string>5</string>
				<key>Ampl. Loop1_Ref</key>
				<string>-15</string>
				<key>Ampl. Loop1_Scale</key>
				<string>5</string>
				<key>Ampl. Loop2_Ref</key>
				<string>-15</string>
				<key>Ampl. Loop2_Scale</key>
				<string>5</string>
				<key>Ampl. LoopMonopole_Ref</key>
				<string>-15</string>
				<key>Ampl. LoopMonopole_Scale</key>
				<string>5</string>
				<key>Awg3RunDelta_Ref</key>
				<string>-86400</string>
				<key>Awg3RunDelta_Scale</key>
				<string>21600</string>
				<key>Awg3Run_Ref</key>
				<string>0</string>
				<key>Awg3Run_Scale</key>
				<string>86400</string>
				<key>Awg3Temp_Ref</key>
				<string>0</string>
				<key>Awg3Temp_Scale</key>
				<string>10</string>
				<key>Battery Life Available_Ref</key>
				<string>0</string>
				<key>Battery Life Available_Scale</key>
				<string>60</string>
				<key>CPU Load_Ref</key>
				<string>0</string>
				<key>CPU Load_Scale</key>
				<string>60</string>
				<key>Current Direction_Ref</key>
				<string>0</string>
				<key>Current Direction_Scale</key>
				<string>60</string>
				<key>Current U Velocity_Ref</key>
				<string>0</string>
				<key>Current U Velocity_Scale</key>
				<string>2</string>
				<key>Current V Velocity_Ref</key>
				<string>0</string>
				<key>Current V Velocity_Scale</key>
				<string>2</string>
				<key>Current Velocity_Ref</key>
				<string>0</string>
				<key>Current Velocity_Scale</key>
				<string>2</string>
				<key>DDT Derv Max Vel_Ref</key>
				<string>0</string>
				<key>DDT Derv Max Vel_Scale</key>
				<string>20</string>
				<key>DDT Derv Mean_Ref</key>
				<string>0</string>
				<key>DDT Derv Mean_Scale</key>
				<string>20</string>
				<key>DDT Derv Min Vel_Ref</key>
				<string>0</string>
				<key>DDT Derv Min Vel_Scale</key>
				<string>20</string>
				<key>DDT Derv RMS_Ref</key>
				<string>0</string>
				<key>DDT Derv RMS_Scale</key>
				<string>20</string>
				<key>DDT Derv Spatial_Ref</key>
				<string>0</string>
				<key>DDT Derv Spatial_Scale</key>
				<string>20</string>
				<key>DDT Derv Std Dev_Ref</key>
				<string>0</string>
				<key>DDT Derv Std Dev_Scale</key>
				<string>20</string>
				<key>DDT Derv Vectors_Ref</key>
				<string>0</string>
				<key>DDT Derv Vectors_Scale</key>
				<string>60</string>
				<key>DDT Diff Max Vel_Ref</key>
				<string>0</string>
				<key>DDT Diff Max Vel_Scale</key>
				<string>20</string>
				<key>DDT Diff Mean_Ref</key>
				<string>0</string>
				<key>DDT Diff Mean_Scale</key>
				<string>20</string>
				<key>DDT Diff Min Vel_Ref</key>
				<string>0</string>
				<key>DDT Diff Min Vel_Scale</key>
				<string>20</string>
				<key>DDT Diff NRME_Ref</key>
				<string>0</string>
				<key>DDT Diff NRME_Scale</key>
				<string>20</string>
				<key>DDT Diff RMS_Ref</key>
				<string>0</string>
				<key>DDT Diff RMS_Scale</key>
				<string>20</string>
				<key>DDT Diff Std Dev_Ref</key>
				<string>0</string>
				<key>DDT Diff Std Dev_Scale</key>
				<string>20</string>
				<key>DDT Diff Vectors_Ref</key>
				<string>0</string>
				<key>DDT Diff Vectors_Scale</key>
				<string>60</string>
				<key>DDT Src Max Vel_Ref</key>
				<string>0</string>
				<key>DDT Src Max Vel_Scale</key>
				<string>20</string>
				<key>DDT Src Mean_Ref</key>
				<string>0</string>
				<key>DDT Src Mean_Scale</key>
				<string>20</string>
				<key>DDT Src Min Vel_Ref</key>
				<string>0</string>
				<key>DDT Src Min Vel_Scale</key>
				<string>20</string>
				<key>DDT Src RMS_Ref</key>
				<string>0</string>
				<key>DDT Src RMS_Scale</key>
				<string>20</string>
				<key>DDT Src Spatial_Ref</key>
				<string>0</string>
				<key>DDT Src Spatial_Scale</key>
				<string>20</string>
				<key>DDT Src Std Dev_Ref</key>
				<string>0</string>
				<key>DDT Src Std Dev_Scale</key>
				<string>20</string>
				<key>DDT Src Temporal_Ref</key>
				<string>0</string>
				<key>DDT Src Temporal_Scale</key>
				<string>20</string>
				<key>DDT Src Vectors_Ref</key>
				<string>0</string>
				<key>DDT Src Vectors_Scale</key>
				<string>60</string>
				<key>DDT Tot Max Vel_Ref</key>
				<string>0</string>
				<key>DDT Tot Max Vel_Scale</key>
				<string>20</string>
				<key>DDT Tot Mean_Ref</key>
				<string>0</string>
				<key>DDT Tot Mean_Scale</key>
				<string>20</string>
				<key>DDT Tot Min Vel_Ref</key>
				<string>0</string>
				<key>DDT Tot Min Vel_Scale</key>
				<string>20</string>
				<key>DDT Tot RMS_Ref</key>
				<string>0</string>
				<key>DDT Tot RMS_Scale</key>
				<string>20</string>
				<key>DDT Tot Std Dev_Ref</key>
				<string>0</string>
				<key>DDT Tot Std Dev_Scale</key>
				<string>20</string>
				<key>DDT Tot Vectors_Ref</key>
				<string>0</string>
				<key>DDT Tot Vectors_Scale</key>
				<string>60</string>
				<key>Disk Space Available_Ref</key>
				<string>0</string>
				<key>Disk Space Available_Scale</key>
				<string>60</string>
				<key>DualAngle%_Ref</key>
				<string>0</string>
				<key>DualAngle%_Scale</key>
				<string>20</string>
				<key>Elp Ampl. Loop1_Ref</key>
				<string>-15</string>
				<key>Elp Ampl. Loop1_Scale</key>
				<string>5</string>
				<key>Elp Ampl. Loop2_Ref</key>
				<string>-15</string>
				<key>Elp Ampl. Loop2_Scale</key>
				<string>5</string>
				<key>Elp AveVel_Ref</key>
				<string>0</string>
				<key>Elp AveVel_Scale</key>
				<string>20</string>
				<key>Elp AverBearing_Ref</key>
				<string>0</string>
				<key>Elp AverBearing_Scale</key>
				<string>60</string>
				<key>Elp DualAngle%_Ref</key>
				<string>0</string>
				<key>Elp DualAngle%_Scale</key>
				<string>20</string>
				<key>Elp MaxRange_Ref</key>
				<string>0</string>
				<key>Elp MaxRange_Scale</key>
				<string>40</string>
				<key>Elp NF Loop1_Ref</key>
				<string>-200</string>
				<key>Elp NF Loop1_Scale</key>
				<string>20</string>
				<key>Elp NF Loop2_Ref</key>
				<string>-200</string>
				<key>Elp NF Loop2_Scale</key>
				<string>20</string>
				<key>Elp NF Monopole_Ref</key>
				<string>-200</string>
				<key>Elp NF Monopole_Scale</key>
				<string>20</string>
				<key>Elp PeakRangeCell_Ref</key>
				<string>0</string>
				<key>Elp PeakRangeCell_Scale</key>
				<string>20</string>
				<key>Elp Phase Loop1_Ref</key>
				<string>-180</string>
				<key>Elp Phase Loop1_Scale</key>
				<string>90</string>
				<key>Elp Phase Loop2_Ref</key>
				<string>-180</string>
				<key>Elp Phase Loop2_Scale</key>
				<string>90</string>
				<key>Elp SN Loop1_Ref</key>
				<string>0</string>
				<key>Elp SN Loop1_Scale</key>
				<string>20</string>
				<key>Elp SN Loop2_Ref</key>
				<string>0</string>
				<key>Elp SN Loop2_Scale</key>
				<string>20</string>
				<key>Elp SN Monopole_Ref</key>
				<string>0</string>
				<key>Elp SN Monopole_Scale</key>
				<string>20</string>
				<key>Elp ValidDoppler_Ref</key>
				<string>0</string>
				<key>Elp ValidDoppler_Scale</key>
				<string>500</string>
				<key>Elp Vectors_Ref</key>
				<string>0</string>
				<key>Elp Vectors_Scale</key>
				<string>500</string>
				<key>GPSDMode_Ref</key>
				<string>0</string>
				<key>GPSDMode_Scale</key>
				<string>2</string>
				<key>GPSRMode_Ref</key>
				<string>0</string>
				<key>GPSRMode_Scale</key>
				<string>2</string>
				<key>GPSSatLock_Ref</key>
				<string>0</string>
				<key>GPSSatLock_Scale</key>
				<string>6</string>
				<key>GPSSatUnlock_Ref</key>
				<string>0</string>
				<key>GPSSatUnlock_Scale</key>
				<string>6</string>
				<key>Memory Avaiable_Ref</key>
				<string>0</string>
				<key>Memory Avaiable_Scale</key>
				<string>60</string>
				<key>Memory Page Outs_Ref</key>
				<string>0</string>
				<key>Memory Page Outs_Scale</key>
				<string>60</string>
				<key>NF Loop1_Ref</key>
				<string>-200</string>
				<key>NF Loop1_Scale</key>
				<string>20</string>
				<key>NF Loop2_Ref</key>
				<string>-200</string>
				<key>NF Loop2_Scale</key>
				<string>20</string>
				<key>NF Vertical_Ref</key>
				<string>-200</string>
				<key>NF Vertical_Scale</key>
				<string>20</string>
				<key>Number of Processes_Ref</key>
				<string>0</string>
				<key>Number of Processes_Scale</key>
				<string>60</string>
				<key>PLLLock_Ref</key>
				<string>0</string>
				<key>PLLLock_Scale</key>
				<string>4</string>
				<key>PT NF Loop1_Ref</key>
				<string>-200</string>
				<key>PT NF Loop1_Scale</key>
				<string>20</string>
				<key>PT NF Loop2_Ref</key>
				<string>-200</string>
				<key>PT NF Loop2_Scale</key>
				<string>20</string>
				<key>PT NF Monopole_Ref</key>
				<string>-200</string>
				<key>PT NF Monopole_Scale</key>
				<string>20</string>
				<key>PT Signal Loop1_Ref</key>
				<string>-120</string>
				<key>PT Signal Loop1_Scale</key>
				<string>10</string>
				<key>PT Signal Loop2_Ref</key>
				<string>-120</string>
				<key>PT Signal Loop2_Scale</key>
				<string>10</string>
				<key>PT Signal Monopole_Ref</key>
				<string>-120</string>
				<key>PT Signal Monopole_Scale</key>
				<string>10</string>
				<key>Phase Loop1_Ref</key>
				<string>-270</string>
				<key>Phase Loop1_Scale</key>
				<string>90</string>
				<key>Phase Loop2_Ref</key>
				<string>-180</string>
				<key>Phase Loop2_Scale</key>
				<string>90</string>
				<key>Power Source_Ref</key>
				<string>0</string>
				<key>Power Source_Scale</key>
				<string>60</string>
				<key>Processor Run Time_Ref</key>
				<string>0</string>
				<key>Processor Run Time_Scale</key>
				<string>60</string>
				<key>ProcessorRun_Ref</key>
				<string>0</string>
				<key>ProcessorRun_Scale</key>
				<string>86400</string>
				<key>RadAveVel_Ref</key>
				<string>0</string>
				<key>RadAveVel_Scale</key>
				<string>20</string>
				<key>RadAverBearing_Ref</key>
				<string>0</string>
				<key>RadAverBearing_Scale</key>
				<string>60</string>
				<key>RadMaxRange_Ref</key>
				<string>0</string>
				<key>RadMaxRange_Scale</key>
				<string>40</string>
				<key>RadMaxVel_Ref</key>
				<string>0</string>
				<key>RadMaxVel_Scale</key>
				<string>60</string>
				<key>RadPeakRangeCell_Ref</key>
				<string>0</string>
				<key>RadPeakRangeCell_Scale</key>
				<string>20</string>
				<key>RadVectors_Ref</key>
				<string>0</string>
				<key>RadVectors_Scale</key>
				<string>500</string>
				<key>Rcvr +12V_Ref</key>
				<string>0</string>
				<key>Rcvr +12V_Scale</key>
				<string>4</string>
				<key>Rcvr +5V_Ref</key>
				<string>0</string>
				<key>Rcvr +5V_Scale</key>
				<string>2</string>
				<key>Rcvr -5V_Ref</key>
				<string>0</string>
				<key>Rcvr -5V_Scale</key>
				<string>-2</string>
				<key>RcvrBatt_Ref</key>
				<string>0</string>
				<key>RcvrBatt_Scale</key>
				<string>6</string>
				<key>RcvrHiResTemp_Ref</key>
				<string>0</string>
				<key>RcvrHiResTemp_Scale</key>
				<string>10</string>
				<key>RcvrHumidity_Ref</key>
				<string>0</string>
				<key>RcvrHumidity_Scale</key>
				<string>10</string>
				<key>RcvrTemp_Ref</key>
				<string>0</string>
				<key>RcvrTemp_Scale</key>
				<string>10</string>
				<key>SN Loop1_Ref</key>
				<string>0</string>
				<key>SN Loop1_Scale</key>
				<string>20</string>
				<key>SN Loop2_Ref</key>
				<string>0</string>
				<key>SN Loop2_Scale</key>
				<string>20</string>
				<key>SN Monopole_Ref</key>
				<string>0</string>
				<key>SN Monopole_Scale</key>
				<string>20</string>
				<key>Spatial Count_Ref</key>
				<string>0</string>
				<key>Spatial Count_Scale</key>
				<string>2</string>
				<key>Spatial Max Velocity_Ref</key>
				<string>0</string>
				<key>Spatial Max Velocity_Scale</key>
				<string>2</string>
				<key>Spatial Min Velocity_Ref</key>
				<string>0</string>
				<key>Spatial Min Velocity_Scale</key>
				<string>2</string>
				<key>Spatial Quality_Ref</key>
				<string>0</string>
				<key>Spatial Quality_Scale</key>
				<string>2</string>
				<key>Spec Ampl. Factor31_Ref</key>
				<string>-15</string>
				<key>Spec Ampl. Factor31_Scale</key>
				<string>5</string>
				<key>Spec Ampl. Factor32_Ref</key>
				<string>-15</string>
				<key>Spec Ampl. Factor32_Scale</key>
				<string>5</string>
				<key>Spec Ampl. Ratio13_Ref</key>
				<string>0</string>
				<key>Spec Ampl. Ratio13_Scale</key>
				<string>4</string>
				<key>Spec Ampl. Ratio23_Ref</key>
				<string>0</string>
				<key>Spec Ampl. Ratio23_Scale</key>
				<string>4</string>
				<key>Spec Aver Bragg Power L1_Ref</key>
				<string>0</string>
				<key>Spec Aver Bragg Power L1_Scale</key>
				<string>20</string>
				<key>Spec Aver Bragg Power L2_Ref</key>
				<string>0</string>
				<key>Spec Aver Bragg Power L2_Scale</key>
				<string>20</string>
				<key>Spec Aver Bragg Power MP_Ref</key>
				<string>0</string>
				<key>Spec Aver Bragg Power MP_Scale</key>
				<string>20</string>
				<key>Spec Aver Bragg Width L1_Ref</key>
				<string>0</string>
				<key>Spec Aver Bragg Width L1_Scale</key>
				<string>25</string>
				<key>Spec Aver Bragg Width L2_Ref</key>
				<string>0</string>
				<key>Spec Aver Bragg Width L2_Scale</key>
				<string>25</string>
				<key>Spec Aver Bragg Width MP_Ref</key>
				<string>0</string>
				<key>Spec Aver Bragg Width MP_Scale</key>
				<string>25</string>
				<key>Spec Aver Extra Power L1_Ref</key>
				<string>0</string>
				<key>Spec Aver Extra Power L1_Scale</key>
				<string>20</string>
				<key>Spec Aver Extra Power L2_Ref</key>
				<string>0</string>
				<key>Spec Aver Extra Power L2_Scale</key>
				<string>20</string>
				<key>Spec Aver Extra Power MP_Ref</key>
				<string>0</string>
				<key>Spec Aver Extra Power MP_Scale</key>
				<string>20</string>
				<key>Spec Aver Noise Floor L1_Ref</key>
				<string>-200</string>
				<key>Spec Aver Noise Floor L1_Scale</key>
				<string>20</string>
				<key>Spec Aver Noise Floor L2_Ref</key>
				<string>-200</string>
				<key>Spec Aver Noise Floor L2_Scale</key>
				<string>20</string>
				<key>Spec Aver Noise Floor MP_Ref</key>
				<string>-200</string>
				<key>Spec Aver Noise Floor MP_Scale</key>
				<string>20</string>
				<key>Spec Bragg Rejected_Ref</key>
				<string>0</string>
				<key>Spec Bragg Rejected_Scale</key>
				<string>5</string>
				<key>Spec Ideal Bearing1_Ref</key>
				<string>0</string>
				<key>Spec Ideal Bearing1_Scale</key>
				<string>60</string>
				<key>Spec Ideal Bearing2_Ref</key>
				<string>0</string>
				<key>Spec Ideal Bearing2_Scale</key>
				<string>60</string>
				<key>Spec Ideal Selection_Ref</key>
				<string>0</string>
				<key>Spec Ideal Selection_Scale</key>
				<string>1</string>
				<key>Spec Ideal Single_Ref</key>
				<string>0</string>
				<key>Spec Ideal Single_Scale</key>
				<string>60</string>
				<key>Spec Meas Bearing1_Ref</key>
				<string>0</string>
				<key>Spec Meas Bearing1_Scale</key>
				<string>60</string>
				<key>Spec Meas Bearing2_Ref</key>
				<string>0</string>
				<key>Spec Meas Bearing2_Scale</key>
				<string>60</string>
				<key>Spec Meas Selection_Ref</key>
				<string>0</string>
				<key>Spec Meas Selection_Scale</key>
				<string>1</string>
				<key>Spec Meas Single_Ref</key>
				<string>0</string>
				<key>Spec Meas Single_Scale</key>
				<string>60</string>
				<key>Spec Neg A3_Ref</key>
				<string>0</string>
				<key>Spec Neg A3_Scale</key>
				<string>500</string>
				<key>Spec Peak Doppler_Ref</key>
				<string>0</string>
				<key>Spec Peak Doppler_Scale</key>
				<string>5</string>
				<key>Spec Peak Range_Ref</key>
				<string>0</string>
				<key>Spec Peak Range_Scale</key>
				<string>5</string>
				<key>Spec Phase Loop1_Ref</key>
				<string>-180</string>
				<key>Spec Phase Loop1_Scale</key>
				<string>90</string>
				<key>Spec Phase Loop2_Ref</key>
				<string>-180</string>
				<key>Spec Phase Loop2_Scale</key>
				<string>90</string>
				<key>Spec Phase Ratio13_Ref</key>
				<string>-180</string>
				<key>Spec Phase Ratio13_Scale</key>
				<string>90</string>
				<key>Spec Phase Ratio23_Ref</key>
				<string>-180</string>
				<key>Spec Phase Ratio23_Scale</key>
				<string>90</string>
				<key>Spec RadAve Ampl. Loop1_Ref</key>
				<string>-15</string>
				<key>Spec RadAve Ampl. Loop1_Scale</key>
				<string>5</string>
				<key>Spec RadAve Ampl. Loop2_Ref</key>
				<string>-15</string>
				<key>Spec RadAve Ampl. Loop2_Scale</key>
				<string>5</string>
				<key>Spec Summed Power_Ref</key>
				<string>0</string>
				<key>Spec Summed Power_Scale</key>
				<string>2</string>
				<key>Temporal Count_Ref</key>
				<string>0</string>
				<key>Temporal Count_Scale</key>
				<string>2</string>
				<key>Temporal Quality_Ref</key>
				<string>0</string>
				<key>Temporal Quality_Scale</key>
				<string>2</string>
				<key>Tsu Band Detect AlongShore10_Ref</key>
				<string>-2000</string>
				<key>Tsu Band Detect AlongShore10_Scale</key>
				<string>1000</string>
				<key>Tsu Band Detect AlongShore11_Ref</key>
				<string>-2000</string>
				<key>Tsu Band Detect AlongShore11_Scale</key>
				<string>1000</string>
				<key>Tsu Band Detect AlongShore12_Ref</key>
				<string>-2000</string>
				<key>Tsu Band Detect AlongShore12_Scale</key>
				<string>1000</string>
				<key>Tsu Band Detect AlongShore13_Ref</key>
				<string>-2000</string>
				<key>Tsu Band Detect AlongShore13_Scale</key>
				<string>1000</string>
				<key>Tsu Band Detect AlongShore14_Ref</key>
				<string>-2000</string>
				<key>Tsu Band Detect AlongShore14_Scale</key>
				<string>1000</string>
				<key>Tsu Band Detect AlongShore15_Ref</key>
				<string>-2000</string>
				<key>Tsu Band Detect AlongShore15_Scale</key>
				<string>1000</string>
				<key>Tsu Band Detect AlongShore16_Ref</key>
				<string>-2000</string>
				<key>Tsu Band Detect AlongShore16_Scale</key>
				<string>1000</string>
				<key>Tsu Band Detect AlongShore1_Ref</key>
				<string>-2000</string>
				<key>Tsu Band Detect AlongShore1_Scale</key>
				<string>1000</string>
				<key>Tsu Band Detect AlongShore2_Ref</key>
				<string>-2000</string>
				<key>Tsu Band Detect AlongShore2_Scale</key>
				<string>1000</string>
				<key>Tsu Band Detect AlongShore3_Ref</key>
				<string>-2000</string>
				<key>Tsu Band Detect AlongShore3_Scale</key>
				<string>1000</string>
				<key>Tsu Band Detect AlongShore4_Ref</key>
				<string>-2000</string>
				<key>Tsu Band Detect AlongShore4_Scale</key>
				<string>1000</string>
				<key>Tsu Band Detect AlongShore5_Ref</key>
				<string>-2000</string>
				<key>Tsu Band Detect AlongShore5_Scale</key>
				<string>1000</string>
				<key>Tsu Band Detect AlongShore6_Ref</key>
				<string>-2000</string>
				<key>Tsu Band Detect AlongShore6_Scale</key>
				<string>1000</string>
				<key>Tsu Band Detect AlongShore7_Ref</key>
				<string>-2000</string>
				<key>Tsu Band Detect AlongShore7_Scale</key>
				<string>1000</string>
				<key>Tsu Band Detect AlongShore8_Ref</key>
				<string>-2000</string>
				<key>Tsu Band Detect AlongShore8_Scale</key>
				<string>1000</string>
				<key>Tsu Band Detect AlongShore9_Ref</key>
				<string>-2000</string>
				<key>Tsu Band Detect AlongShore9_Scale</key>
				<string>1000</string>
				<key>Tsu Band Detect OnShore10_Ref</key>
				<string>-2000</string>
				<key>Tsu Band Detect OnShore10_Scale</key>
				<string>1000</string>
				<key>Tsu Band Detect OnShore11_Ref</key>
				<string>-2000</string>
				<key>Tsu Band Detect OnShore11_Scale</key>
				<string>1000</string>
				<key>Tsu Band Detect OnShore12_Ref</key>
				<string>-2000</string>
				<key>Tsu Band Detect OnShore12_Scale</key>
				<string>1000</string>
				<key>Tsu Band Detect OnShore13_Ref</key>
				<string>-2000</string>
				<key>Tsu Band Detect OnShore13_Scale</key>
				<string>1000</string>
				<key>Tsu Band Detect OnShore14_Ref</key>
				<string>-2000</string>
				<key>Tsu Band Detect OnShore14_Scale</key>
				<string>1000</string>
				<key>Tsu Band Detect OnShore15_Ref</key>
				<string>-2000</string>
				<key>Tsu Band Detect OnShore15_Scale</key>
				<string>1000</string>
				<key>Tsu Band Detect OnShore16_Ref</key>
				<string>-2000</string>
				<key>Tsu Band Detect OnShore16_Scale</key>
				<string>1000</string>
				<key>Tsu Band Detect OnShore1_Ref</key>
				<string>-2000</string>
				<key>Tsu Band Detect OnShore1_Scale</key>
				<string>1000</string>
				<key>Tsu Band Detect OnShore2_Ref</key>
				<string>-2000</string>
				<key>Tsu Band Detect OnShore2_Scale</key>
				<string>1000</string>
				<key>Tsu Band Detect OnShore3_Ref</key>
				<string>-2000</string>
				<key>Tsu Band Detect OnShore3_Scale</key>
				<string>1000</string>
				<key>Tsu Band Detect OnShore4_Ref</key>
				<string>-2000</string>
				<key>Tsu Band Detect OnShore4_Scale</key>
				<string>1000</string>
				<key>Tsu Band Detect OnShore5_Ref</key>
				<string>-2000</string>
				<key>Tsu Band Detect OnShore5_Scale</key>
				<string>1000</string>
				<key>Tsu Band Detect OnShore6_Ref</key>
				<string>-2000</string>
				<key>Tsu Band Detect OnShore6_Scale</key>
				<string>1000</string>
				<key>Tsu Band Detect OnShore7_Ref</key>
				<string>-2000</string>
				<key>Tsu Band Detect OnShore7_Scale</key>
				<string>1000</string>
				<key>Tsu Band Detect OnShore8_Ref</key>
				<string>-2000</string>
				<key>Tsu Band Detect OnShore8_Scale</key>
				<string>1000</string>
				<key>Tsu Band Detect OnShore9_Ref</key>
				<string>-2000</string>
				<key>Tsu Band Detect OnShore9_Scale</key>
				<string>1000</string>
				<key>Tsu Band Velocity10_Ref</key>
				<string>-10</string>
				<key>Tsu Band Velocity10_Scale</key>
				<string>20</string>
				<key>Tsu Band Velocity11_Ref</key>
				<string>-10</string>
				<key>Tsu Band Velocity11_Scale</key>
				<string>20</string>
				<key>Tsu Band Velocity12_Ref</key>
				<string>-10</string>
				<key>Tsu Band Velocity12_Scale</key>
				<string>20</string>
				<key>Tsu Band Velocity13_Ref</key>
				<string>-10</string>
				<key>Tsu Band Velocity13_Scale</key>
				<string>20</string>
				<key>Tsu Band Velocity14_Ref</key>
				<string>-10</string>
				<key>Tsu Band Velocity14_Scale</key>
				<string>20</string>
				<key>Tsu Band Velocity15_Ref</key>
				<string>-10</string>
				<key>Tsu Band Velocity15_Scale</key>
				<string>20</string>
				<key>Tsu Band Velocity16_Ref</key>
				<string>-10</string>
				<key>Tsu Band Velocity16_Scale</key>
				<string>20</string>
				<key>Tsu Band Velocity17_Ref</key>
				<string>-10</string>
				<key>Tsu Band Velocity17_Scale</key>
				<string>20</string>
				<key>Tsu Band Velocity18_Ref</key>
				<string>-10</string>
				<key>Tsu Band Velocity18_Scale</key>
				<string>20</string>
				<key>Tsu Band Velocity19_Ref</key>
				<string>-10</string>
				<key>Tsu Band Velocity19_Scale</key>
				<string>20</string>
				<key>Tsu Band Velocity1_Ref</key>
				<string>-10</string>
				<key>Tsu Band Velocity1_Scale</key>
				<string>20</string>
				<key>Tsu Band Velocity20_Ref</key>
				<string>-10</string>
				<key>Tsu Band Velocity20_Scale</key>
				<string>20</string>
				<key>Tsu Band Velocity21_Ref</key>
				<string>-10</string>
				<key>Tsu Band Velocity21_Scale</key>
				<string>20</string>
				<key>Tsu Band Velocity22_Ref</key>
				<string>-10</string>
				<key>Tsu Band Velocity22_Scale</key>
				<string>20</string>
				<key>Tsu Band Velocity23_Ref</key>
				<string>-10</string>
				<key>Tsu Band Velocity23_Scale</key>
				<string>20</string>
				<key>Tsu Band Velocity24_Ref</key>
				<string>-10</string>
				<key>Tsu Band Velocity24_Scale</key>
				<string>20</string>
				<key>Tsu Band Velocity25_Ref</key>
				<string>-10</string>
				<key>Tsu Band Velocity25_Scale</key>
				<string>20</string>
				<key>Tsu Band Velocity2_Ref</key>
				<string>-10</string>
				<key>Tsu Band Velocity2_Scale</key>
				<string>20</string>
				<key>Tsu Band Velocity3_Ref</key>
				<string>-10</string>
				<key>Tsu Band Velocity3_Scale</key>
				<string>20</string>
				<key>Tsu Band Velocity4_Ref</key>
				<string>-10</string>
				<key>Tsu Band Velocity4_Scale</key>
				<string>20</string>
				<key>Tsu Band Velocity5_Ref</key>
				<string>-10</string>
				<key>Tsu Band Velocity5_Scale</key>
				<string>20</string>
				<key>Tsu Band Velocity6_Ref</key>
				<string>-10</string>
				<key>Tsu Band Velocity6_Scale</key>
				<string>20</string>
				<key>Tsu Band Velocity7_Ref</key>
				<string>-10</string>
				<key>Tsu Band Velocity7_Scale</key>
				<string>20</string>
				<key>Tsu Band Velocity8_Ref</key>
				<string>-10</string>
				<key>Tsu Band Velocity8_Scale</key>
				<string>20</string>
				<key>Tsu Band Velocity9_Ref</key>
				<string>-10</string>
				<key>Tsu Band Velocity9_Scale</key>
				<string>20</string>
				<key>Tsu Band VelocityV10_Ref</key>
				<string>-10</string>
				<key>Tsu Band VelocityV10_Scale</key>
				<string>20</string>
				<key>Tsu Band VelocityV11_Ref</key>
				<string>-10</string>
				<key>Tsu Band VelocityV11_Scale</key>
				<string>20</string>
				<key>Tsu Band VelocityV12_Ref</key>
				<string>-10</string>
				<key>Tsu Band VelocityV12_Scale</key>
				<string>20</string>
				<key>Tsu Band VelocityV13_Ref</key>
				<string>-10</string>
				<key>Tsu Band VelocityV13_Scale</key>
				<string>20</string>
				<key>Tsu Band VelocityV14_Ref</key>
				<string>-10</string>
				<key>Tsu Band VelocityV14_Scale</key>
				<string>20</string>
				<key>Tsu Band VelocityV15_Ref</key>
				<string>-10</string>
				<key>Tsu Band VelocityV15_Scale</key>
				<string>20</string>
				<key>Tsu Band VelocityV16_Ref</key>
				<string>-10</string>
				<key>Tsu Band VelocityV16_Scale</key>
				<string>20</string>
				<key>Tsu Band VelocityV17_Ref</key>
				<string>-10</string>
				<key>Tsu Band VelocityV17_Scale</key>
				<string>20</string>
				<key>Tsu Band VelocityV18_Ref</key>
				<string>-10</string>
				<key>Tsu Band VelocityV18_Scale</key>
				<string>20</string>
				<key>Tsu Band VelocityV19_Ref</key>
				<string>-10</string>
				<key>Tsu Band VelocityV19_Scale</key>
				<string>20</string>
				<key>Tsu Band VelocityV1_Ref</key>
				<string>-10</string>
				<key>Tsu Band VelocityV1_Scale</key>
				<string>20</string>
				<key>Tsu Band VelocityV20_Ref</key>
				<string>-10</string>
				<key>Tsu Band VelocityV20_Scale</key>
				<string>20</string>
				<key>Tsu Band VelocityV21_Ref</key>
				<string>-10</string>
				<key>Tsu Band VelocityV21_Scale</key>
				<string>20</string>
				<key>Tsu Band VelocityV22_Ref</key>
				<string>-10</string>
				<key>Tsu Band VelocityV22_Scale</key>
				<string>20</string>
				<key>Tsu Band VelocityV23_Ref</key>
				<string>-10</string>
				<key>Tsu Band VelocityV23_Scale</key>
				<string>20</string>
				<key>Tsu Band VelocityV24_Ref</key>
				<string>-10</string>
				<key>Tsu Band VelocityV24_Scale</key>
				<string>20</string>
				<key>Tsu Band VelocityV25_Ref</key>
				<string>-10</string>
				<key>Tsu Band VelocityV25_Scale</key>
				<string>20</string>
				<key>Tsu Band VelocityV2_Ref</key>
				<string>-10</string>
				<key>Tsu Band VelocityV2_Scale</key>
				<string>20</string>
				<key>Tsu Band VelocityV3_Ref</key>
				<string>-10</string>
				<key>Tsu Band VelocityV3_Scale</key>
				<string>20</string>
				<key>Tsu Band VelocityV4_Ref</key>
				<string>-10</string>
				<key>Tsu Band VelocityV4_Scale</key>
				<string>20</string>
				<key>Tsu Band VelocityV5_Ref</key>
				<string>-10</string>
				<key>Tsu Band VelocityV5_Scale</key>
				<string>20</string>
				<key>Tsu Band VelocityV6_Ref</key>
				<string>-10</string>
				<key>Tsu Band VelocityV6_Scale</key>
				<string>20</string>
				<key>Tsu Band VelocityV7_Ref</key>
				<string>-10</string>
				<key>Tsu Band VelocityV7_Scale</key>
				<string>20</string>
				<key>Tsu Band VelocityV8_Ref</key>
				<string>-10</string>
				<key>Tsu Band VelocityV8_Scale</key>
				<string>20</string>
				<key>Tsu Band VelocityV9_Ref</key>
				<string>-10</string>
				<key>Tsu Band VelocityV9_Scale</key>
				<string>20</string>
				<key>Tsunami Detection AlongShore_Ref</key>
				<string>-2000</string>
				<key>Tsunami Detection AlongShore_Scale</key>
				<string>1000</string>
				<key>Tsunami Detection OnShore_Ref</key>
				<string>-2000</string>
				<key>Tsunami Detection OnShore_Scale</key>
				<string>1000</string>
				<key>Tsunami Detection Range_Ref</key>
				<string>0</string>
				<key>Tsunami Detection Range_Scale</key>
				<string>10</string>
				<key>Tsunami Detection TimeToShore_Ref</key>
				<string>0</string>
				<key>Tsunami Detection TimeToShore_Scale</key>
				<string>20</string>
				<key>ValidDoppler_Ref</key>
				<string>0</string>
				<key>ValidDoppler_Scale</key>
				<string>500</string>
				<key>Vector Range_Ref</key>
				<string>0</string>
				<key>Vector Range_Scale</key>
				<string>10</string>
				<key>Velocity Count_Ref</key>
				<string>0</string>
				<key>Velocity Count_Scale</key>
				<string>2</string>
				<key>Virtual Memory Used_Ref</key>
				<string>0</string>
				<key>Virtual Memory Used_Scale</key>
				<string>60</string>
				<key>Xmit +5V_Ref</key>
				<string>0</string>
				<key>Xmit +5V_Scale</key>
				<string>2</string>
				<key>XmtForw_Ref</key>
				<string>0</string>
				<key>XmtForw_Scale</key>
				<string>20</string>
				<key>XmtRefl_Ref</key>
				<string>0</string>
				<key>XmtRefl_Scale</key>
				<string>5</string>
				<key>XmtTemp_Ref</key>
				<string>0</string>
				<key>XmtTemp_Scale</key>
				<string>10</string>
				<key>XmtWatch_Ref</key>
				<string>0</string>
				<key>XmtWatch_Scale</key>
				<string>8</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
