<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Coverage</key>
	<dict>
		<key>CombineCoverageVisibility</key>
		<false/>
		<key>DrawOutline</key>
		<false/>
		<key>Ellipticals</key>
		<dict>
			<key>ContourSmoothingMethod</key>
			<integer>1</integer>
			<key>EllipticalCoverageFillColor_Blue</key>
			<real>0</real>
			<key>EllipticalCoverageFillColor_Green</key>
			<real>0.75</real>
			<key>EllipticalCoverageFillColor_Red</key>
			<real>1</real>
			<key>EllipticalCoverageStrokeColor_Blue</key>
			<real>0</real>
			<key>EllipticalCoverageStrokeColor_Green</key>
			<real>0</real>
			<key>EllipticalCoverageStrokeColor_Red</key>
			<real>0</real>
		</dict>
		<key>EnforceBearingLimits</key>
		<true/>
		<key>ExcludeUnstableRegions</key>
		<true/>
		<key>IndividualCoverageVisibility</key>
		<false/>
		<key>StabilityAnglesDeg</key>
		<string>15, 20, 25, 30</string>
		<key>Transparency</key>
		<real>0.75</real>
	</dict>
	<key>StdDev</key>
	<dict>
		<key>DrawOutline</key>
		<true/>
		<key>MaximumValue</key>
		<real>50</real>
		<key>Opaqueness</key>
		<real>0.5</real>
	</dict>
	<key>AntennaPattern</key>
	<dict>
		<key>Draw</key>
		<false/>
		<key>Loop1Blue</key>
		<real>0</real>
		<key>Loop1Green</key>
		<real>0</real>
		<key>Loop1Red</key>
		<integer>1</integer>
		<key>Loop2Blue</key>
		<integer>1</integer>
		<key>Loop2Green</key>
		<real>0</real>
		<key>Loop2Red</key>
		<integer>0</integer>
		<key>PenWidth</key>
		<integer>2</integer>
		<key>ScalingFactor</key>
		<real>40</real>
	</dict>
	<key>Average</key>
	<dict>
		<key>Visible</key>
		<real>0</real>
	</dict>
	<key>CombineGrid</key>
	<dict>
		<key>AutoSetCoastlinePoints</key>
		<true/>
		<key>AutoSetLandPoints</key>
		<true/>
		<key>BearingDegree</key>
		<real>0</real>
		<key>EditCoverage</key>
		<true/>
		<key>EditOrigin</key>
		<false/>
		<key>MaxNumberOfPointsAllowed</key>
		<integer>10000</integer>
	</dict>
	<key>Distribution</key>
	<dict>
		<key>Opaqueness</key>
		<real>0.5</real>
	</dict>
	<key>MapAndGrid</key>
	<dict>
		<key>BackgroundMap</key>
		<integer>1</integer>
		<key>CoverDistanceLegendColor</key>
		<integer>1</integer>
		<key>DisplayGridPoints</key>
		<false/>
		<key>DisplayKmGrid</key>
		<false/>
		<key>ShowDistance</key>
		<false/>
		<key>ShowMap</key>
		<true/>
	</dict>
	<key>Movie_Flowlines</key>
	<dict>
		<key>MovieDurationInSeconds</key>
		<integer>120</integer>
	</dict>
	<key>Uncertainties</key>
	<dict>
		<key>MaximumCms</key>
		<real>60</real>
		<key>Opaqueness</key>
		<real>0.5</real>
		<key>TotalUncertaintiesKind</key>
		<integer>0</integer>
	</dict>
	<key>Vectors</key>
	<dict>
		<key>HalfHeadWidthPixels</key>
		<integer>-1</integer>
		<key>DualColoring</key>
		<false/>
		<key>SelectedVectorFillBlue</key>
		<real>0.8399999737739563</real>
		<key>SelectedVectorFillGreen</key>
		<real>0.4569999873638153</real>
		<key>SelectedVectorFillOpaq</key>
		<real>0.800000011920929</real>
		<key>SelectedVectorFillRed</key>
		<real>0.2189999967813492</real>
		<key>SelectedVectorStrokeBlue</key>
		<real>0.8399999737739563</real>
		<key>SelectedVectorStrokeGreen</key>
		<real>0.4569999873638153</real>
		<key>SelectedVectorStrokeOpaq</key>
		<real>0.800000011920929</real>
		<key>SelectedVectorStrokeRed</key>
		<real>0.2189999967813492</real>
		<key>VisibleVectorFillBlue</key>
		<real>0.8399999737739563</real>
		<key>VisibleVectorFillGreen</key>
		<real>0.4569999873638153</real>
		<key>VisibleVectorFillOpaq</key>
		<real>1</real>
		<key>ColorVectors</key>
		<true/>
		<key>VisibleVectorFillRed</key>
		<real>0.2189999967813492</real>
		<key>VisibleVectorStrokeBlue</key>
		<real>0.8399999737739563</real>
		<key>VisibleVectorStrokeGreen</key>
		<real>0.4569999873638153</real>
		<key>VisibleVectorStrokeOpaq</key>
		<real>1</real>
		<key>VisibleVectorStrokeRed</key>
		<real>0.2189999967813492</real>
		<key>DisplayVectors</key>
		<true/>
		<key>FillSolidArrowHead</key>
		<true/>
		<key>GDOPVectorBlue</key>
		<real>0</real>
		<key>GDOPVectorGreen</key>
		<real>0.6499999761581421</real>
		<key>GDOPVectorRed</key>
		<real>1</real>
		<key>Gauge</key>
		<real>40</real>
		<key>GradientIntensity</key>
		<real>0.5</real>
		<key>InBaselineVectorBlue</key>
		<real>1</real>
		<key>InBaselineVectorGreen</key>
		<real>1</real>
		<key>InBaselineVectorRed</key>
		<real>0</real>
		<key>InterpolatedVectorBlue</key>
		<real>1</real>
		<key>InterpolatedVectorGreen</key>
		<real>0</real>
		<key>InterpolatedVectorRed</key>
		<real>1</real>
		<key>MarkGDOPVectors</key>
		<false/>
		<key>MarkInBaselineVectors</key>
		<false/>
		<key>MarkInterpolatedVectors</key>
		<true/>
		<key>MarkMarkerVectors</key>
		<false/>
		<key>MarkOutOfBoundsVectors</key>
		<false/>
		<key>MarkTooFastVectors</key>
		<false/>
		<key>MarkerVectorBlue</key>
		<real>0</real>
		<key>MarkerVectorGreen</key>
		<real>1</real>
		<key>MarkerVectorRed</key>
		<real>1</real>
		<key>MaximumVelocity</key>
		<real>100</real>
		<key>Opaqueness</key>
		<real>0.800000011920929</real>
		<key>OutOfBoundsVectorBlue</key>
		<real>0</real>
		<key>OutOfBoundsVectorGreen</key>
		<real>0</real>
		<key>OutOfBoundsVectorRed</key>
		<real>1</real>
		<key>RadialForceOriginToCenter</key>
		<false/>
		<key>RegularVectorBlue</key>
		<real>0.03921568627451</real>
		<key>RegularVectorGreen</key>
		<real>0.580392156862745</real>
		<key>RegularVectorRed</key>
		<real>0.9803921568627449</real>
		<key>ScalingFactor</key>
		<integer>5</integer>
		<key>ShowGDOPVectors</key>
		<false/>
		<key>ShowInBaselineVectors</key>
		<true/>
		<key>ShowInterpolatedVectors</key>
		<true/>
		<key>ShowMarkerVectors</key>
		<true/>
		<key>ShowNonInterpolatedVectors</key>
		<true/>
		<key>ShowOutOfBoundsVectors</key>
		<false/>
		<key>ShowTooFastVectors</key>
		<false/>
		<key>TooFastVectorBlue</key>
		<real>0.699999988079071</real>
		<key>TooFastVectorGreen</key>
		<real>0.4000000059604645</real>
		<key>TooFastVectorRed</key>
		<real>1</real>
		<key>VectorInformationDisplay</key>
		<false/>
		<key>VectorInformationLocation</key>
		<integer>5</integer>
		<key>MaxNOverlayVectors</key>
		<integer>30</integer>
	</dict>
	<key>SeaDisplay</key>
	<string>8.0.0.DF</string>
</dict>
</plist>
